#container{

    display: flex;
    justify-content: center; 
    align-items: center;
    height: 90vh;

}

#cons{

    display: flex;
    justify-content: center; 
    align-items: center;

}

input {
  
    width: 120%;
    padding: 10px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form{

    display: flex;
    flex-direction: column;
    gap: 10px;

}

a{

    color: brown;
    text-decoration: none;

}

img{

    margin-left: 100px;

}

button{

    background-color: brown;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: 80%;
    height: 30px;

}

#menu{

    display: none;
    justify-content: center; 
    align-items: center;
    height: 90vh;
}

#Fullscreen-Image{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("bg.jpeg") center/cover no-repeat;
    z-index: -1;
    opacity: 50%;

}

#Box{

    display: flex;
    justify-content: center; 
    align-items: center;

}

#Info{

    width: 30%;

}